/* STYLES */

body {
  font-size: 75%;
  line-height: 1.25;
  font-family: Helvetica, Arial, sans-serif;
  background: #3c7499 url("../images/bg-body.png");
}

p {
  margin: 1em 0;
  line-height: 1.4;
}

::selection {
  background: #efca36;
  color: #000;
}

::-moz-selection {
  background: #efca36;
  color: #000;
}

::-webkit-selection {
  background: #efca36;
  color: #000;
}

abbr {
  border-bottom: 1px dotted #333;
  font-weight: bold;
  cursor: help;
}

/* HEADING */

h1,
h2,
h3,
h4 {
  font-family: 'Marvel', sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  word-spacing: 8px;
  color: #fff;
  line-height: 1.4;
  text-align: center;
  text-shadow: 1px 1px 5px #061033;
}

h1 {
  width: 600px;
  margin: .4em auto .2em;
  font-size: 2.8em;
}

h2 {
  margin: .4em 0 .4em;
  font-size: 2em;
  color: #3c7499;
}

section[role="main"] article h2 {
  text-shadow: 0 1px 0 #fff;
}

h3 {
  margin: 2.4em auto .4em;
  font-size: 2em;
}

section[role="main"] article ul#team-list li h3 {
  margin: 0 auto 0.4em;
  font-size: 1.2em;
  color: #333;
  text-shadow: 1px 1px 3px #061033;
  letter-spacing: 2px;
  word-spacing: 4px;
}

h4 {
  margin: .6em auto .2em;
  font-size: 1.2em;
  letter-spacing: normal;
  word-spacing: normal;
}

section[role="main"] ul#projects li.hover h4 {
  color: #3c7499;
  text-shadow: 0 1px 0 #fff;
}

/* WRAP */

#wrap {
  width: 680px;
  margin: auto;
  padding: 0 20px;
}

/* HEADER */

header {
  margin: 40px 0 0;
  display: block;
}

header #logo {
  width: 679px;
  height: 146px;
  margin: 0 auto 20px;
}

header #logo a {
  display: block;
  width: 679px;
  height: 146px;
  text-indent: -9999px;
  background: transparent url("../images/logo-startupdev.png") no-repeat 0 0;
}

header p, p.highlight {
  color: #fff;
  font-size: 1.4em;
  text-align: center;
  width: 500px;
  margin: 1em auto;
}

header nav {
  display: block;
}

header nav ul {
  margin: 0 0 15px 0;
  height: 112px;
}

header nav ul li {
  height: 112px;
  float: left;
}

header nav ul li.plus,
header nav ul li#equal {
  width: 40px;
  text-indent: -9999px;
}

header nav ul li.plus {
  background: transparent url("../images/menu.png") no-repeat -16px -330px;
}

header nav ul li#equal {
  background: transparent url("../images/menu.png") no-repeat -66px -328px;
}

header nav ul li a {
  display: block;
  height: 112px;
  text-indent: -9999px;
}

header nav ul li#idea a {
  width: 79px;
  background: transparent url("../images/menu.png") no-repeat 0 12px;
}

header nav ul li#idea a:hover,
header nav ul li#idea.current a {
  background: transparent url("../images/menu.png") no-repeat 0 -217px;
}

header nav ul li#idea a:active {
  background: transparent url("../images/menu.png") no-repeat 0 -97px;
}

header nav ul li#contract a {
  width: 114px;
  background: transparent url("../images/menu.png") no-repeat -387px 12px;
}

header nav ul li#contract a:hover,
header nav ul li#contract.current a {
  background: transparent url("../images/menu.png") no-repeat -387px -217px;
}

header nav ul li#contract a:active {
  background: transparent url("../images/menu.png") no-repeat -387px -97px;
}

header nav ul li#team a {
  width: 101px;
  background: transparent url("../images/menu.png") no-repeat -108px 12px;
}

header nav ul li#team a:hover,
header nav ul li#team.current a {
  background: transparent url("../images/menu.png") no-repeat -108px -217px;
}

header nav ul li#team a:active {
  background: transparent url("../images/menu.png") no-repeat -108px -97px;
}

header nav ul li#time a {
  width: 106px;
  background: transparent url("../images/menu.png") no-repeat -245px 12px;
}

header nav ul li#time a:hover,
header nav ul li#time.current a {
  background: transparent url("../images/menu.png") no-repeat -245px -217px;
}

header nav ul li#time a:active {
  background: transparent url("../images/menu.png") no-repeat -245px -97px;
}

header nav ul li#launch a {
  width: 120px;
  background: transparent url("../images/menu.png") no-repeat -554px 12px;
}

header nav ul li#launch a:hover,
header nav ul li#launch.current a {
  background: transparent url("../images/menu.png") no-repeat -554px -217px;
}

header nav ul li#launch a:active {
  background: transparent url("../images/menu.png") no-repeat -554px -97px;
}

/* SECTION */

section[role="main"] {
  display: block;
}

section[role="main"] #quick-signup {
  text-align: center;
  font-size: 1.2em;
  color: #fff;
}

section[role="main"] #quick-signup a {
  font-size: 1.4em;
  margin: 0 10px;
  color: #fff;
  text-shadow: 0 1px 2px #000;
}

section[role="main"] #quick-signup a:hover {
  color: #d0e0eb;
}

section[role="main"] article {
  display: none;
  margin: 0;
  padding: 20px;
  background: transparent url("../images/bg-content.png");
  border: 2px dashed #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

section[role="main"] article#content-workshop {
  display: block;
}

section[role="main"] article ol li,
section[role="main"] article ul li,
section[role="main"] article p {
  font-size: 1.2em;
  color: #333;
  text-shadow: 0 1px 0 #fff;
}

section[role="main"] article.video ol li,
section[role="main"] article.video ul li,
section[role="main"] article.video p {
  margin-left: 330px;
}

section[role="main"] article .embed-video p {
  margin-left: 0;
}

section[role="main"] article ol {
  list-style-type: decimal;
  list-style-position: inside;
}

section[role="main"] article ul {
  list-style-type: disc;
  list-style-position: inside;
}

section[role="main"] article ol li,
section[role="main"] article ul li {
  margin: 1em 0;
  line-height: 1.4;
}

section[role="main"] article .embed-video {
  width: 310px;
  margin: 0 20px 10px 0;
  float: left;
}

section[role="main"] article ul#team-list {
  list-style: none;
}

section[role="main"] article ul#team-list li {
  width: 210px;
  padding: 0;
  float: left;
}

section[role="main"] article ul#team-list li p {
  margin: .8em 0;
  padding: 0 0 0 25px;
  font-size: .8em;
}

section[role="main"] article ul#team-list li p a {
  font-size: 1.1em;
}

section[role="main"] article ul#team-list li img {
  border: 1px dashed #fff;
  padding: 1px;
  margin: 0 auto 10px;
  display: block;
}

section[role="main"] article a {
  color: #000;
  text-shadow: 0 1px 0 #fff;
  border-bottom: 1px dashed #000;
}

section[role="main"] article a:hover {
  color: #3c7499;
  border-bottom: 1px solid #3c7499;
}

section[role="main"] article nav {
  display: block;
  height: 45px;
  clear: both;
}

section[role="main"] article nav p {
  float: right;
}

section[role="main"] ul#projects li {
  margin: 2px;
  padding: 0 9px;
  width: 147px;
  text-align: center;
  float: left;
}

section[role="main"] ul#projects li p {
  margin: 1em auto;
  width: 144px;
  position: relative;
}

section[role="main"] ul#projects li a {
  display: block;
  width: 142px;
  height: 100px;
  position: relative;
}

section[role="main"] ul#projects li img {
  border: 1px dashed #fff;
}

section[role="main"] ul#projects li.hover {
  width: 143px;
  background: transparent url("../images/bg-content.png");
  border: 2px dashed #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 2px;
}

section[role="main"] ul#projects li .confidential,
section[role="main"] ul#projects li .coming-soon,
section[role="main"] ul#projects li .facebook {
  position: absolute;
  text-indent: -9999px;
  top: 1px;
  left: 1px;
  width: 142px;
  height: 100px;
}

section[role="main"] ul#projects li .confidential {
  background: transparent url("../images/confidencial.png") no-repeat bottom right;
}

section[role="main"] ul#projects li .coming-soon {
  background: transparent url("../images/em-breve.png") no-repeat bottom right;
}

section[role="main"] ul#projects li .facebook {
  background: transparent url("../images/facebook.png") no-repeat bottom right;
}

#form {
  margin: auto;
  width: 330px;
}

/* BUTTONS */

.button {
  background-color: #3c7499;
  color: #fff !important;
  padding: 10px 20px;
  border: none !important;
  text-shadow: none !important;
  -moz-box-shadow: 0 1px 2px #000;
  -webkit-box-shadow: 0 1px 2px #000;
  box-shadow: 0 1px 2px #000;
}

.button:hover {
  background-color: #2b6388;
}

.button:active {
  -moz-box-shadow: inset 0 1px 2px #000;
  -webkit-box-shadow: inset 0 1px 2px #000;
  box-shadow: inset 0 1px 2px #000;
}

.button.highlight {
  background-color: #efca36;
  color: #000 !important;
  font-weight: bold;
}

.button.highlight:hover {
  background-color: #deb925;
}

/* FOOTER */

footer {
  display: block;
  clear: both;
  text-align: center;
  text-transform: uppercase;
  color: #d0e0eb;
}

/* Calendar */
#calendar {
  background-color: #fff;
  margin: 5px 0;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 6px 6px;
  -moz-border-radius: 6px / 6px;
  -o-border-radius: 6px / 6px;
  -ms-border-radius: 6px / 6px;
  -khtml-border-radius: 6px / 6px;
  border-radius: 6px / 6px;
}

#calendar #all-tasks {
  margin: 5px 20px 0 0;
  padding: 3px 3px 3px 20px;
  color: #555;
  background: transparent url(/images/menu-icons.png) no-repeat 0 -174px;
  text-decoration: none;
  text-shadow: 0px 2px 0 #fff;
  font-size: .9em;
  float: right;
}

#calendar #all-tasks:hover {
  color: #000;
  background: transparent url(/images/menu-icons.png) no-repeat 0 -204px;
}

#calendar nav {
  display: block;
  height: 30px;
  background: white;
  background: -moz-linear-gradient(center top , white 0%, #F0F5F8 100%) repeat scroll 0 0 transparent;
/*  background: -moz-linear-gradient(top, white 0%, white 100%);*/
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, white 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, white 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, white 0%, white 100%);
  /* IE10+ */
  background: linear-gradient(top, #ffffff 0%, #ffffff 100%);
  /* W3C */
  border-bottom: 1px solid #e5e5e5;
}

#calendar nav ul {
  margin: 10px 0 0 10px;
  height: 18px;
}

#calendar nav ul li {
  margin: 0 6px;
  color: #555;
  text-shadow: 0px 2px 0 #fff;
  font-size: 1.1em;
  float: left;
}
 
#calendar nav ul li a {
  display: block;
  width: 15px;
  height: 18px;
  text-indent: -9999px;
}
 
#calendar nav ul li a#prev-weeks {
  background: transparent url(/images/nav-arrows.png) no-repeat 0 0;
}

#calendar nav ul li a#prev-weeks:hover {
  background: transparent url(/images/nav-arrows.png) no-repeat 0 -20px;
}
 
#calendar nav ul li a#next-weeks {
  background: transparent url(/images/nav-arrows.png) no-repeat -18px 0;
}

#calendar nav ul li a#next-weeks:hover {
  background: transparent url(/images/nav-arrows.png) no-repeat -18px -20px;
}

#calendar table {
  width: 100%;
}

#calendar table th.weekend, #calendar table td.weekend {
  display: none;
}

#calendar table tr#weekend-control td {
  padding-left: 10px;
  background-color: #efede7;
}

#calendar table tr#weekend-control td a {
  color: #000;
  text-shadow: 0px 1px 0 #fff;
}

#calendar table tr#weekend-control td a:hover {
  color: #555;
}

#calendar table tr th {
  width: 12%;
  padding: 4px 0;
  text-align: center;
  background-color: #efede7;
  border-top: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
  text-shadow: 0px 1px 0 #fff;
}

#calendar table tr td {
  padding: 4px;
  border-top: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
}

#calendar table tr td.current {
  background-color: #CCFFCC;
}

#calendar table tr td a.hide-show-weekend {
  color: #555555;
  text-decoration: none;
  text-shadow: 0px 2px 0 #fff;
  font-size: .9em;
}

#calendar table tr td .day {
  margin: 0 0 4px 0;
  font-size: 1em;
  text-align: center;
  color: #999;
}

#calendar table tr td .day-content {
  padding: 2em 0;
  display: block;
  text-align: center;
}

#calendar table tr td.unavailable .day-content {
  color: #c66;
}

#calendar table tr td ul {
  list-style-type: none;
}

#calendar table tr td ul li {
  font-size: .8em;
}

/* CLEARFIX */

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  min-height: 0;
}