/*
+----------------------------------------------------------------+
  Common
+----------------------------------------------------------------+
*/
* {
  margin: 0;
  padding: 0;
}

html {
  background: url("../images/background-pattern.jpg");
}

body {
  background: url("../images/line-top.png") repeat-x;
  color: #FFF;
  font: 62.5% Arial, Helvetica, sans-serif;
}

img {
  border: none;
}

h2 {
  color: #FED247;
  font-size: 3.5em;
  margin-bottom: 10px;
  text-transform: uppercase;
}

h3 {
  font-size: 2em;
  font-weight: normal;
}

.container {
  margin: 0 auto;
  width: 960px;
}

/*
+----------------------------------------------------------------+
  Wrapper
+----------------------------------------------------------------+
*/
#wrapper {
  padding: 12px 0 0;
}

/*
+----------------------------------------------------------------+
  header
+----------------------------------------------------------------+
*/
header {
  margin-bottom: 50px;
  text-align: center;
}

header h1 {
  background: url("../images/startup-dev.png");
  height: 150px;
  margin: 60px auto 50px;
  text-indent: -9000px;
  width: 680px;
}

/*
+----------------------------------------------------------------+
  Content
+----------------------------------------------------------------+
*/
#content {
}

.button-talk-to-us {
  background: url("../images/bg-botao-fale-conosco.png");
  color: #5E4E15;
  height: 61px;
  width: 232px;
  line-height: 61px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.button-talk-to-us,
.button-learn-more,
#presentation .call-to-action span {
  display: block;
  font-size: 2em;
  text-transform: uppercase;
  text-decoration: none;
}

/*
+----------------------------------------------------------------+
  Presentation
+----------------------------------------------------------------+
*/

#presentation-holder {
  background: url("../images/background-presentation.png") repeat-x left bottom;
}

#workflow {
  clear: both;
  list-style: none;
  overflow: hidden;
  margin:60px 0 50px;
}

#workflow li {
  display: block;
  font-size: 1.4em;
  float: left;
  margin-right: 42px;
  text-transform: uppercase;
  text-align: center;
}

#workflow #online-app {
  margin-right:0;
}

#workflow li div {
  background: url("../images/workflow.png");
  margin: 0 auto 20px;
}

#workflow #idea div {
  background-position: -7px -10px;
  height: 78px;
  width: 47px;
}

#workflow .plus div {
  background-position: -67px -32px;
  height: 36px;
  width: 36px;
}

#workflow #team div {
  background-position: -117px -10px;
  height: 79px;
  width: 67px;
}

#workflow #time div {
  background-position: -209px -10px;
  height: 83px;
  margin-bottom: 15px;
  width: 73px;
}

#workflow #investment div {
  background-position: -312px -13px;
  height: 75px;
  width: 80px;
}

#workflow #equals div {
  background-position: -412px -32px;
  height: 27px;
  width: 36px;
}

#workflow #online-app div {
  background-position: -464px -10px;
  height: 79px;
  margin-bottom: 13px;
  width: 91px;
}

#workflow .plus div,
#workflow #equals div {
  margin-top: 23px;
}

#presentation {
  clear: both;
  overflow: hidden;
  padding-bottom: 50px;
}

#presentation h2,
#presentation h3 {
  text-align: center;
}

#presentation .call-to-action {
  margin: 30px auto;
  width: 440px;
}

#presentation .call-to-action a,
#presentation .call-to-action span {
  float: left;
}

#presentation .call-to-action span {
  font-size: 1.7em;
  margin: 18px 20px 0;
}

.button-learn-more {
  background: url("../images/underline-saibamais.png") no-repeat left bottom;
  color: #FFF;
  font-weight: bold;
  margin-top: 14px;
  padding-bottom: 5px;
  width: 135px;
}













