<!DOCTYPE html>
<html lang='pt'>
<head>
  <meta charset='utf-8'>
  <meta content='desenvolvimento, programação, webapp, aplicativo web, aplicativo, startup' name='keywords'>
  <meta content='Desenvolvimento expresso de aplicativos web para startups com preço fixo e em apenas dois dias.' name='description'>
  <meta name="viewport" content="width=720, maximum-scale=1.0" />

  <title>Startup DEV - Desenvolvimento de Aplicativos Web para Startups</title>

  <link href='/favicon.png' rel='shortcut icon'>
  
  <link href='http://fonts.googleapis.com/css?family=Marvel' rel='stylesheet' media="all">
  <link href="/css/reset.css" media="all" rel="stylesheet" />
  <link href="/css/tipsy.css" media="all" rel="stylesheet" />
  <link href="/css/styles.css" media="all" rel="stylesheet" />
  
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'></script>
  <script src="/js/jquery.tipsy.js"></script>
  <script src="/js/jquery.scrollTo-1.4.2-min.js"></script>
  <script src="/js/scripts.js"></script>
  
  <script type="text/javascript">
   var _gaq = _gaq || [];
   _gaq.push(['_setAccount', 'UA-257015-24']);
   _gaq.push(['_trackPageview']);

   (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
   })();
  </script>
  
  <!--[if lt IE 9]>
    <script src='http://html5shim.googlecode.com/svn/trunk/html5.js'></script>
  <![endif]-->

  <!--[if lte IE 7]>
    <link href="/css/iefix.css" media="all" rel="stylesheet" />
  <![endif]-->
</head>
<body>
  <div id="wrap">
    <header>
      <div id="logo">
        <a href="/">Startup DEV</a>
      </div>
      
      <h1>Desenvolvimento expresso de aplicativos web</h1>
      
      <p>Nós somos capazes de desenvolver aplicativos funcionais e de qualidade em pouco tempo. Saiba como:</p>
      
      <nav>
        <ul>
          <li id="idea" class="step"><a href="#" title="Ideia">Ideia</a></li>
          <li class="plus">+</li>
          <li id="team" class="step"><a href="#" title="Equipe competente">Equipe competente</a></li>
          <li class="plus">+</li>
          <li id="time" class="step"><a href="#" title="Desenvolvimento">Desenvolvimento em 48h</a></li>
          <li class="plus">+</li>
          <li id="contract" class="step"><a href="#" title="R$ 6.000">R$ 6.000</a></li>
          <li id="equal">=</li>
          <li id="launch" class="step"><a href="#" title="Seu aplicativo online">Entrega</a></li>
        </ul>
      </nav>
    </header>
    <hr />
    <section role="main">
      {{ content }}
    </section>
    <hr />
    <footer>
      <p>Copyright &copy; 2011 Startup DEV</p>
    </footer>
  </div>
</body>
</html>