<!DOCTYPE html>
<html lang='pt'>
  {% include head.html %}
  <body>
    <section id='wrapper'>
      <header>
        <h1>Startup Dev</h1>
        <h2>Desenvolvimento expresso de aplicativos web</h2>
        <h3>Nós somos capazes de desenvolver aplicativos funcionais e de qualidade em pouco tempo.</h3>
        <ul id="workflow">
          <li id="idea">
            <div></div>
            <p>Sua<br />idéia</p>
          </li>
          <li class="plus">
            <div></div>
          </li>
          <li id="team">
            <div></div>
            <p>2 developers<br />+ 1 designer</p>
          </li>
          <li class="plus">
            <div></div>
          </li>
          <li id="time">
            <div></div>
            <p>48h de<br />trabalho</p>
          </li>
          <li class="plus">
            <div></div>
          </li>
          <li id="investment">
            <div></div>
            <p>Investimento<br />de R$ 12 mil</p>
          </li>
          <li id="equals">
            <div></div>
          </li>
          <li id="online-app">
            <div></div>
            <p>Seu aplicativo<br />online</p>
          </li>
        </ul>
      </header>
      <section id='content'>
        {{ content }}
      </section>
    </section>
  </body>
</html>